#addTimerHost {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 16px;
    flex: 1 0 100%;
    -webkit-flex: 1 0 100%;
}

#timerListHost {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background: rgba(0, 0, 0, 0.1);
    padding: 16px;
    flex: 1 0 100%;
    -webkit-flex: 1 0 100%;
}

#wrap {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
}

#noTimersLabel {
    display: none;
}

input {
    width: 100%;
}

body {
    margin: 0px;
    font-family: 'PT Sans', sans-serif;
}

h3 {
    color: #137DAB;
}

.spacing {
    height: 4px;
}

@media (min-width: 700px) {

    body {
        width: 700px;
        margin: 0px auto 0px auto;
    }

    #addTimerHost {
        -webkit-flex: 1 0 auto;
        flex: 1 0 auto;
    }

    #timerListHost {
        -webkit-flex: 1 0 auto;
        flex: 1 0 auto;
    }

}
