#addTimerHost {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background-color: #CC0000;
    padding: 16px;
}

#timerListHost {
    vertical-align: top;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background-color: #CCCCCC;
    padding: 16px;
}

#noTimersLabel {
    visibility: none;
}

input {
    width: 100%;
}

.spacing {
    height: 4px;
}

@media (min-width: 700px) {

    body {
        width: 700px;
        margin: 0px auto 0px auto;
    }

    #addTimerHost {
        width: 48%;
        display: inline-block;
    }

    #timerListHost {
        width: 48%;
        display: inline-block;
    }

}
